<!DOCTYPE html>
<html>
   <head>
      <h1>DIS H1</h1>
      <title>DIS TITLE</title>
      <form action="/pirates" method= "post">
         <label for="pirate[name]">Pirate Name</label>
         <input type="text" name="pirate[name]" value="">
         <label for="pirate[weight]">Pirate Weight</label>
         <input type="text" name="pirate[weight]" value="">
         <label for="pirate[height]">Pirate Height</label>
         <input type="text" name="pirate[height]" value="">
         <label for="pirate[ships][][name]">ship_name_1</label>
         <input id="ship_name_1" type="text" name="pirate[ships][][name]" value="">
         <label for="pirate[ships][][type]">Ship Type 1</label>
         <input id="ship_type_1" type="text" name="pirate[ships][][type]" value="">
         <label for="pirate[ships][][booty]">Ship Booty 1</label>
         <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" value="">
         <label for="pirate[ships][][name]">Ship Name 2</label>
         <input id="ship_name_2" type="text" name="pirate[ships][][name]" value="">
         <label for="pirate[ships][][type]">Ship Type 2</label>
         <input id="ship_type_2" type="text" name="pirate[ships][][type]" value="">
         <label for="pirate[ships][][booty]">Ship Booty 3</label>
         <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" value="">
         <!-- <input type="submit" value="Submit"> -->
         <input type="submit" value="Submit">
      </form>
   </head>
</html>

<!-- @name = name
   @type = type 
   @booty = booty -->


<!-- <form action="/student" method="post">
  Student Name: <input type="text" name="student[name]">
  Student Grade: <input type="text" name="student[grade]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  <input type="submit">
</form> -->

<!-- 
<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <title>Basketball Team Signup</title>
    <form action="/team" method = "post">
        <label for="name">Team Name</label>
        <input type="text" name="name" value="">
        <label for="Coach">Coach</label>
        <input type="text" name="coach" value=""> -->
